{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" >

      <link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
  </head>
  <body>

    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->

      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'index' %}"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" ></a>
          <a class="sidebar-brand brand-logo-mini" href="{% url 'index' %}"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" ></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">SENTHIL VSK</h5>
                  <span>ADMIN</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'index' %}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
            <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'register' %}">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">REGISTRATION</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'display' %}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">DISPLAY</span>
            </a>
          </li>
            <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'attendance' %}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">ATTENDANCE</span>
            </a>
          </li>
            <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'payment' %}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">PAYMENT</span>
            </a>
          </li>
            <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'adminpage' %}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">ADMIN PAGE</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">


          <!-- NAV BAR START -->

        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search products">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link btn btn-success create-new-button" href="{% url 'register' %}">+ Add New Student</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">SENTHIL KUMAR</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">PROFILE</h6>
                  <div class="dropdown-divider"></div>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="{% url 'logoutUser' %}">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>


          <!-- NAVBAR END -->


          <!-- MAIN CONTENT -->


        <div class="main-panel">

        <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" style="text-align: center;color: cyan">PAYMENT RECEIPT</h4>
                    <form class="form-sample" method="post" action="{% url 'payment' %}">
                        {% csrf_token %}
                        <br>
{#                      <p class="card-description"> PERSONAL INFO </p>#}
                      <div class="row">
                          <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">NAME</label>
                            <div class="col-sm-9 " id="display-id">

                              <select class="form-control" style="color: white" name="name" id="name_selector" onchange="callid(9)">
                                  <option selected>SELECT THE CLASS...</option>
                              </select>
                            </div>
                          </div>
                        </div>
{#                        <div class="col-md-6">#}
{#                          <div class="form-group row">#}
{#                            <label class="col-sm-3 col-form-label">NAME</label>#}
{#                            <div class="col-sm-9">#}
{#                              <input type="text" class="form-control" style="color: white" name="name">#}
{#                            </div>#}
{#                          </div>#}
{#                        </div>#}

{#                      </div>#}
{#                      <div class="row">#}
                            <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CLASS</label>
                            <div class="col-sm-2">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="class" value="9th" name="class" onclick="callby(9)" > IX </label>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="class" id="class" value="10th" onclick="callby(10)" > X </label>
                              </div>
                            </div>
                               <div class="col-sm-2">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="class" id="eleven" value="11th" onclick="callby(11)" > XI </label>
                              </div>
                            </div>
                              <div class="col-sm-2">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="class" id="twelve" value="12th" onclick="callby(12)" > XII </label>
                              </div>
                            </div>
                          </div>
                        </div>
{#                        <div class="col-md-6">#}
{#                          <div class="form-group row">#}
{#                            <label class="col-sm-3 col-form-label">DATE OF JOIN</label>#}
{#                            <div class="col-sm-9">#}
{#                              <input class="form-control" placeholder="dd/mm/yyyy" type="date" style="color: white" name="join_date">#}
{#                            </div>#}
{#                          </div>#}
{#                        </div>#}
                      </div>
                      <div class="row">

                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">DATE OF PAYMENT</label>
                            <div class="col-sm-9">
                              <input type="date" class="form-control" name="date_of_payment">
                            </div>
                          </div>
                        </div>
                          <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">STUDENT_ID</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="student_id" id="stud_id">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">NET AMOUNT PAID</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="net_amount_paid">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">MODE OF PAYMENT</label>
                            <div class="col-sm-9">
                              <select class="form-control" style="color: white" name="mode_of_payment">
                                  <option selected>SELECT...</option>
                                <option>GPAY</option>
                                <option>PAYTM</option>
                                <option>PHONE PAY</option>
                                  <option>CASH</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                        <br>
                        <div style="position: relative;height: 70px;width: 100%;">
                            <div style="position:absolute;bottom:25%;right: 50%;">
                                <button class="btn btn-primary btn-rounded btn-fw" type="submit">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>

          <footer class="footer" style="position: fixed; bottom: 0;width: 100%; background-color: black;">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2023 Masthan</span>
            </div>
          </footer>

        </div>



         <!-- MANI CONTENT END -->

      </div>

    </div>
    <div type="text" style="display: none" id="value9">
        {{ val1 }}
    </div>
    <div type="text" style="display: none" id="value10">
        {{ val2 }}
    </div>
    <div type="text" style="display: none" id="value11">
        {{ val3 }}
    </div>
    <div type="text" style="display: none" id="value12">
        {{ val4 }}
    </div>
    <div type="text" style="display: none" id="id1">
        {{ id1 }}
    </div>
    <div type="text" style="display: none" id="id2">
        {{ id2 }}
    </div>
    <div type="text" style="display: none" id="id3">
        {{ id3 }}
    </div>
    <div type="text" style="display: none" id="id4">
        {{ id4 }}
    </div>

{#    <div type="text" style="display: none" id="value19">#}
{#        {{ stud_id1 }}#}
{#    </div>#}
{#    <div type="text" style="display: none" id="value110">#}
{#        {{ stud_id2 }}#}
{#    </div>#}
{#    <div type="text" style="display: none" id="value111">#}
{#        {{ stud_id3 }}#}
{#    </div>#}
{#    <div type="text" style="display: none" id="value112">#}
{#        {{ stud_id4 }}#}
{#    </div>#}






    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
    <!-- Custom js for chart page -->
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <!-- End custom js for chart page -->

    <script src="{% static 'assets/js/file-upload.js' %}"></script>
    <script src="{% static 'assets/js/typeahead.js' %}"></script>
    <script src="{% static 'ssets/js/select2.js' %}"></script>
  <script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
    <script>
        function callby(n) {
            console.log(n);
                key = "value" + n.toString();
                value = document.getElementById(key).innerText;
                value = value.replaceAll(" ", "").slice(3, -3).split("','");
                res=document.getElementById("display-id");
                res.innerHTML=`<select class="form-control" style="color: white" name="name" id="name_selector" onchange="callid(`+n+`)">
                                  <option selected>SELECT THE CLASS...</option>
                              </select>`

                console.log(value);
                result = document.getElementById("name_selector");
                result.innerHTML = "<option selected>SELECT...</option>";
                for (i = 0; i < value.length; i++) {
                    result.innerHTML += ` <option id="`+i+`">` + value[i] + `</option> `;
                }
        }
        function callid(n){
            let res_value = document.getElementById("name_selector").value;
            console.log(n);
            let ides=document.getElementById("id"+(n-8).toString()).innerText;
            ides = ides.replaceAll(" ", "").slice(3, -3).split("','");
            console.log(ides)

            let key = "value" + n.toString();
            let value = document.getElementById(key).innerText;
            value = value.replaceAll(" ", "").slice(3, -3).split("','");
            let k=value.indexOf(res_value);
            document.getElementById("stud_id").value=ides[k];








        }
        {#function callid(n){#}
        {#    console.log(n);#}
        {#    key = "value1" + n.toString();#}
        {#    key1 = "value" + n.toString();#}
        {#    value1 = document.getElementById(key).innerText;#}
        {#    value1 = value1.replace(" ", "").slice(3, -3).split("','");#}
        {#    name1 = document.getElementById(key1).innerText;#}
        {#    name1 = name1.replace(" ", "").slice(3, -3).split("','");#}
        {#    console.log(value1);#}
        {#    name = document.getElementById("name_selector").value;#}
        {#    result = document.getElementById("stud_id");#}
        {#    for(val i=0;i<value1.length;i++){#}
        {#        if  name == name1[i]{#}
        {#            result.innerHTML = value1[i];#}
        {#        }#}
        {#    }#}
    </script>>

    </script>


  </body>
</html>